<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Delete Account Verification</title>
</head>
<body>
<h2>Hello {{username}}</h2>
<p>
    Following is your verification code. Please do not share this code to anyone.
</p>
<div>
    <p style="
            display:inline-block;
            padding:12px 20px;
            background:#2563eb;
            color:white;
            text-decoration:none;
            border-radius:5px;
                       ">
        {{verificationCode}}
    </p>
</div>
<p>
    Please remind that this verification code holds in 30 minutes.
</p>
</body>
</html>