<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reset Password Request</title>
</head>
<body>
    <h2>Hello {{username}}</h2>
    <p>
        If you were request to change your password,
        please reset your password by clicking the following link:
    </p>
    <a href="{{resetPasswordUrl}}"
       style="
            display:inline-block;
            padding:12px 20px;
            background:#2563eb;
            color:white;
            text-decoration:none;
            border-radius:5px;
                       ">
        RESET PASSWORD
    </a>
    <p>
        If you were not, kindly to ignore this email.
        Please remind that this link holds in 30 minutes.
    </p>
</body>
</html>